*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    min-height: 100vh;
    min-width: 1500px;

}
section{

height: 100%;
}
table{
    max-width: 100%;
}

@media screen and (max-width: 1024px){
.container-action{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2;
} 
}

